{% extends 'mailings_app/base.html' %}

{% block content %}
<br>
<div class="container">

    <br>
    <div class="row">
                {% for object in object_list %}
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            Лог от: {{object.date_time}}
                        </div>
                        <div class="card-body">

                            <p class="card-text">Статус: {{object.status}}</p>
                            <p class="card-text">Ответ сервера: {{object.ansver_server}}</p>



                            <div>
                                <br>
                                <p>Владелец:</p>
                                <p>{{object.owner}}</p>
                            </div>
                        </div>
                        <div class="card-footer">
                            <h6>
                                Рассылка: {{object.mailing.message.title}}
                            </h6>
                        </div>


                    </div>
                </div>
                {% endfor %}
    </div>
</div>

{% endblock %}